
.cmps-list-info-container {
    margin: 0px auto 10px;
    width: 90%;
  }
  
  @media (min-width: 500px) {
    .cmps-list-info-container {
      width: 30%;
      display: inline-block;
      margin-left: 1%;
      margin-right: 1%;
      height: 400px;
      overflow: auto;
      overflow-x: hidden;
    }
  }